* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/

}

.header {
    max-width: 1200px;
    height: 53px;
    top: 30px;
    left: 120px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

}

.logo {
    width: 150px;
    display: inline-block;
    height: 34px;
    opacity: 1;
}

.container-menu {
    width: 351px;
    height: 45px;
    opacity: 1;
    gap: 30px;
    display: flex;

}

.logo-text {
    display: inline-block;
}

.menu-text {
    /*font-family: Cera Pro;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

}

.logo-login {
    width: 20px;
    height: 20px;
    margin-top: 0;
}

.btn {
    width: 100px;
    height: 35px;
    left: 1100px;
    opacity: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;

    color: white;
    background-color: #46A358;
    border-radius: 6px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px 7px;
}

.btn-large {
    width: 140px;
    padding: 11px 24px 9px;
}

.section-1 {
    font-size: 0;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);

    .left-site {
        padding: 68px 43px;
        width: 60%;
        display: inline-block;

        * {
            max-width: 600px;
        }
    }

    .right-site {
        width: 40%;
        vertical-align: top;
        display: inline-block;
        position: relative;
        text-align: right;

        .large-image {
            max-width: 450px;
        }

        .small-image {
            position: absolute;
            bottom: 17px;
            left: 55px;
            height: 135px;
        }
    }

    h3 {
        /*font-family: Cera Pro;*/
        color: #3D3D3D;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 7px;
    }

    h1 {
        /*font-family: Cera Pro;*/
        color: #3D3D3D;
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    p {
        /*font-family: Cera Pro;*/
        color: #727272;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 44px;

    }

    Span {
        color: #46A358;
    }


}

