* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    margin: 0;
}
input, textarea {
    /*display: block;*/
    width: 100%;
    align-content: center;
    margin-bottom: 16px;
    padding: 12px 14px;

    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #A5A5A5;

    color: #A5A5A5;


}
.submit-btn{
    background-color: #46A358;
    color: white;
    border: none;
    border-radius: 5px;

    width: 100%;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    font-weight: bold;

    font-weight: 700;
    font-size: 16px;
    line-height: 16px;

}
.register-button-wrapper {
    margin-top: 41px;
}

section {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin-top: 14px;
}

h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 50px;
}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 36px 0 27px 0;
    width: 300px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #EAEAEA;
}

.divider-text {
    padding: 0 10px;
    font-size: 13px;
    font-weight: 400;
    color: #3D3D3D;
}
.social-btn {
    width: 300px;
    height: 40px;
    border-radius: 5px;

    font-weight: 500;
    line-height: 16px;
    text-align: center;
    font-size: 13px;
    color: #727272;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    margin-bottom: 15px;
}

.google-btn {
    background-color: white;
    border: 1px solid #EAEAEA;
    margin-top: 0;
}

.facebook-btn {
    background-color: white;
    border: 1px solid #EAEAEA;
    color: #727272;
}
.social-img {
    margin-right: 9px;
}
.social-img {
    margin-right: 9px;
}